In [1]:
!test -f test.grib || wget https://github.com/ecmwf/emohawk/raw/main/docs/examples/test.grib
!test -f tuv_pl.grib || wget https://github.com/ecmwf/emohawk/raw/main/docs/examples/tuv_pl.grib
!test -d _grib_dir_with_sql || (mkdir -p _grib_dir_with_sql; cp -f test.grib tuv_pl.grib _grib_dir_with_sql/)

Loads directory contents and generates indexing stored in a sqlite database:

In [2]:
import emohawk

fs = emohawk.load_from("directory", "./_grib_dir_with_sql")
type(fs)

emohawk.readers.grib.index.FieldsetInFilesWithSqlIndex

In [3]:
len(fs)

20

In [4]:
fs.graph()

 <emohawk.readers.grib.index.FieldsetInFilesWithSqlIndex object at 0x11b914df0>

In [5]:
fs.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll
1,ecmf,u,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll
2,ecmf,v,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll
3,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
4,ecmf,u,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
5,ecmf,v,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
6,ecmf,t,isobaricInhPa,700,20180801,1200,0,an,0,regular_ll
7,ecmf,u,isobaricInhPa,700,20180801,1200,0,an,0,regular_ll
8,ecmf,v,isobaricInhPa,700,20180801,1200,0,an,0,regular_ll
9,ecmf,t,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
10,ecmf,u,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
11,ecmf,v,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
12,ecmf,t,isobaricInhPa,400,20180801,1200,0,an,0,regular_ll
13,ecmf,u,isobaricInhPa,400,20180801,1200,0,an,0,regular_ll
14,ecmf,v,isobaricInhPa,400,20180801,1200,0,an,0,regular_ll
15,ecmf,t,isobaricInhPa,300,20180801,1200,0,an,0,regular_ll
16,ecmf,u,isobaricInhPa,300,20180801,1200,0,an,0,regular_ll
17,ecmf,v,isobaricInhPa,300,20180801,1200,0,an,0,regular_ll
18,ecmf,2t,surface,0,20200513,1200,0,an,0,regular_ll
19,ecmf,msl,surface,0,20200513,1200,0,an,0,regular_ll

In [6]:
fs.describe()

In [7]:
fs[1]

GribField(u,1000,20180801,1200,0,0)

In [8]:
fs[-1]

GribField(msl,None,20200513,1200,0,0)

In [9]:
g = fs[2:4]
type(g)

emohawk.readers.grib.index.MaskFieldSet

In [10]:
g.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,v,isobaricInhPa,1000,20180801,1200,0,an,0,regular_ll
1,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll

In [11]:
a = fs.sel(level=500)
type(a)

emohawk.readers.grib.index.FieldsetInFilesWithSqlIndex

In [12]:
a.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
1,ecmf,u,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
2,ecmf,v,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll

In [13]:
fs.order_by("shortName")
type(fs)

emohawk.readers.grib.index.FieldsetInFilesWithSqlIndex

In [14]:
a.availability

'andate=None, anoffset=None, antime=None, channel=None, class=od, date=20180801, diagnostic=None, direction=None, domain=g, expver=0001, fcmonth=None, fcperiod=None, frequency=None, hdate=None, ident=None, instrument=None, iteration=None, leadtime=None, levelist=500, levtype=pl, method=None, number=None, obstype=None, opttime=None, origin=None, param=[t, u, v], quantile=None, range=None, reference=None, reportype=None, step=0, stream=oper, time=1200, type=an, verify=None\n'