In [1]:
!test -f tuv_pl.grib || wget https://github.com/ecmwf/emohawk/raw/main/docs/examples/tuv_pl.grib

## GRIB filtering using metadata

We read a GRIB file containing 18 messages:

In [2]:
import emohawk

fs = emohawk.load_from("file", "tuv_pl.grib")

In [3]:
len(fs)

18

### Using sel

Calling sel() provides a "view":

In [4]:
a = fs.sel(level=500)
a.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
1,ecmf,u,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
2,ecmf,v,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll

In [5]:
type(a)

emohawk.readers.grib.index.MaskFieldSet

We can use a dict instead of keyword arguments:

In [6]:
a = fs.sel({"level": 500, "shortName": "v"})
a.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,v,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll

Lists are accepted:

In [7]:
a = fs.sel(level=[500, 850])
a.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
1,ecmf,u,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
2,ecmf,v,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
3,ecmf,t,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
4,ecmf,u,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
5,ecmf,v,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll

Slices can define intervals:

In [8]:
a = fs.sel(param="t", level=slice(500, 850))
a.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
1,ecmf,t,isobaricInhPa,700,20180801,1200,0,an,0,regular_ll
2,ecmf,t,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll

### Using order_by

Calling order_by() provides a "view":

In [9]:
b = a.order_by()
type(b)

emohawk.readers.grib.index.MaskFieldSet

In [10]:
b.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
1,ecmf,t,isobaricInhPa,700,20180801,1200,0,an,0,regular_ll
2,ecmf,t,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll

The sorting keys can be specified as a list:

In [11]:
b = a.order_by(["shortName"])
b.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
1,ecmf,t,isobaricInhPa,700,20180801,1200,0,an,0,regular_ll
2,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll

We can prescribe the actual order within a key. It only works when all the possible values are specified:

In [12]:
a = a.order_by(shortName=["v", "t", "u"])
a.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
1,ecmf,t,isobaricInhPa,700,20180801,1200,0,an,0,regular_ll
2,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll

### Combining sel and order_by

In [13]:
a = fs.sel(level=[500, 850]).order_by(["shortName"])
a.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
1,ecmf,t,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
2,ecmf,u,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
3,ecmf,u,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll
4,ecmf,v,isobaricInhPa,500,20180801,1200,0,an,0,regular_ll
5,ecmf,v,isobaricInhPa,850,20180801,1200,0,an,0,regular_ll