In [1]:
!test -f test.grib || wget https://github.com/ecmwf/emohawk/raw/main/docs/examples/test.grib
!test -f test4.grib || wget https://github.com/ecmwf/emohawk/raw/main/docs/examples/test4.grib
!test -d _grib_dir_no_sql || (mkdir -p _grib_dir_no_sql; cp -f test.grib test4.grib _grib_dir_no_sql/)

In [2]:
import emohawk

#### Files defined by wildcard

In [3]:
fs = emohawk.load_from("file", "test*.grib")
type(fs)

emohawk.readers.grib.index.MultiFieldSet

In [4]:
len(fs)

6

In [5]:
fs.graph()

 MultiFieldSet
    GRIBReader(test.grib)
    GRIBReader(test4.grib)

#### Files defined by list

In [6]:
fs = emohawk.load_from("file", ["test.grib", "test4.grib"])

In [7]:
type(fs)

emohawk.readers.grib.index.MultiFieldSet

In [8]:
len(fs)

6

In [9]:
fs.graph()

 MultiFieldSet
    GRIBReader(test.grib)
    GRIBReader(test4.grib)

#### Reading files in a directory

In [10]:
fs = emohawk.load_from("file", "./_grib_dir_no_sql")
type(fs)

emohawk.readers.grib.index.MultiFieldSet

In [11]:
len(fs)

6

In [12]:
fs.graph()

 MultiFieldSet
    GRIBReader(./_grib_dir_no_sql/test.grib)
    GRIBReader(./_grib_dir_no_sql/test4.grib)

#### Contents

In [13]:
fs.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,2t,surface,0,20200513,1200,0,an,0,regular_ll
1,ecmf,msl,surface,0,20200513,1200,0,an,0,regular_ll
2,ecmf,t,isobaricInhPa,500,20070101,1200,0,an,0,regular_ll
3,ecmf,z,isobaricInhPa,500,20070101,1200,0,an,0,regular_ll
4,ecmf,t,isobaricInhPa,850,20070101,1200,0,an,0,regular_ll
5,ecmf,z,isobaricInhPa,850,20070101,1200,0,an,0,regular_ll

#### Slicing

In [14]:
fs[1]

GribField(msl,None,20200513,1200,0,0)

In [15]:
fs[3]

GribField(z,500,20070101,1200,0,0)

In [16]:
fs[-1]

GribField(z,850,20070101,1200,0,0)

In [17]:
g = fs[1:6]
type(g)

emohawk.readers.grib.index.MaskFieldSet

In [18]:
g.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,msl,surface,0,20200513,1200,0,an,0,regular_ll
1,ecmf,t,isobaricInhPa,500,20070101,1200,0,an,0,regular_ll
2,ecmf,z,isobaricInhPa,500,20070101,1200,0,an,0,regular_ll
3,ecmf,t,isobaricInhPa,850,20070101,1200,0,an,0,regular_ll
4,ecmf,z,isobaricInhPa,850,20070101,1200,0,an,0,regular_ll

#### Select

In [19]:
g = fs.sel(level="500")
type(g)

emohawk.readers.grib.index.MultiFieldSet

In [20]:
g.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,t,isobaricInhPa,500,20070101,1200,0,an,0,regular_ll
1,ecmf,z,isobaricInhPa,500,20070101,1200,0,an,0,regular_ll

In [21]:
g = fs.order_by("shortName")
type(g)

emohawk.readers.grib.index.MaskFieldSet

In [22]:
g.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,2t,surface,0,20200513,1200,0,an,0,regular_ll
1,ecmf,msl,surface,0,20200513,1200,0,an,0,regular_ll
2,ecmf,t,isobaricInhPa,500,20070101,1200,0,an,0,regular_ll
3,ecmf,t,isobaricInhPa,850,20070101,1200,0,an,0,regular_ll
4,ecmf,z,isobaricInhPa,500,20070101,1200,0,an,0,regular_ll
5,ecmf,z,isobaricInhPa,850,20070101,1200,0,an,0,regular_ll

In [23]:
g = fs[3:6].sel(param="z").order_by("level")
type(g)

emohawk.readers.grib.index.MaskFieldSet

In [24]:
g.ls()

,centre,shortName,typeOfLevel,level,dataDate,dataTime,stepRange,dataType,number,gridType
0,ecmf,z,isobaricInhPa,500,20070101,1200,0,an,0,regular_ll
1,ecmf,z,isobaricInhPa,850,20070101,1200,0,an,0,regular_ll

#### Values

The shapes in the first and second files differ.

In [25]:
a = fs[0].to_numpy()
a.shape

(209,)

In [26]:
a = fs[5].to_numpy()
a.shape

(65160,)

In [27]:
#a = fs.to_numpy()
#a.shape

In [28]:
#a = fs.values
#a.shape